<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
</head>
<body>
<form action="#" th:action="@{/admin/user-update}" th:object="${user}" method="post">
    <label for="id">User id: </label>
    <input readonly type="number" th:field="*{id}" id="id">
    <br>
    <br>
    <label for="username">Username: </label>
    <input type="text" th:field="*{username}" id="username"/>
    <br>
    <br>
    <label for="surname">Surname: </label>
    <input type="text" th:field="*{surname}" id="surname">
    <br>
    <br>
    <label for="age">Age: </label>
    <input type="text" th:field="*{age}" id="age">
    <br>
    <br>
    <label for="password">password: </label>
    <input type="text" th:field="*{password}" id="password">
    <br>
    <br>
    <input type="submit" value="Update"/>
</form>
<br>
<form action="#" th:action="@{/admin}" method="get">
    <input type="submit" value="Back"/>
</form>
<br>
<form action="#" th:action="@{/logout}" method="get">
    <input type="submit" value="exit"/>
</form>
</body>
</html>