<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" >
<head>
    <title>User</title>
</head>
<body>
<h1>User, welcome!</h1>
<br>
<table>User info
    <thread>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Surname</th>
            <th>Age</th>
            <th>role</th>
        </tr>
    </thread>
    <tbody>
    <tr>
        <td th:text="${user.getId()}"/>
        <td th:text="${user.getUsername()}"/>
        <td th:text="${user.getSurname()}"/>
        <td th:text="${user.getAge()}"/>
        <td th:text="${user.getRoles()}"/>
    </tr>
    </tbody>
</table>
<br>
<form  action="#"  th:action="@{/logout}" method="get">
    <input type="submit" value="exit"/>
</form>
</body>
</html>